body {
  font-family: inherit;
}
.description {
  text-align: center;
}

.portfolioCard a,
.portfolioCard a:link,
.portfolioCard a:visited,
.portfolioCard a:hover,
.portfolioCard a:active {
  text-decoration: none;
  color: inherit;
}

.portfolioContainer {
  margin: 20px;
  padding: 0;
}
.portfolioContainer-each {
  margin: 40px;
  padding: 0;
}
.portfolioContainer-each h4 {
  margin: 20px;
}
.portfolioContainer-each p {
  text-align: left;
  font-size: 1.2rem;
}
