body {
  font-family: inherit;
}
.description {
  text-align: center;
}
.portfolioCard {
  max-width: 400px;
  min-width: 250px;
}
.portfolioCard a,
.portfolioCard a:link,
.portfolioCard a:visited,
.portfolioCard a:hover,
.portfolioCard a:active {
  text-decoration: none;
  color: inherit;
}

.portfolioContainer {
  margin: 20px;
  padding: 0;
  width: 100%;
}
.portfolioContainer-each {
  margin: 30px;
}
.portfolioContainer-each p {
  text-align: left;
}
